---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Symptom Tracker">
	<main class="flex h-screen items-center justify-center p-4">
		<a
			href="/add-flare-up"
			class="rounded-md bg-pink-600 px-12 py-5 text-2xl font-bold uppercase text-white">Check In</a
		>
	</main>
</Layout>
