---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Symptom Tracker">
	<main class="flex h-screen items-center justify-center p-4">
		<a href="/add-flare-up" class="rounded-md bg-red-700 px-6 py-4 text-2xl text-white">Check In</a>
	</main>
</Layout>
