---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Symptom Tracker">
	<main class="flex flex-col items-center justify-center gap-6 px-4 py-20">
		<h1 class="mb-6 text-center text-4xl font-black uppercase">Symptom Tracker</h1>
		<div class="flex w-72 flex-col gap-6">
			<a
				href="/check-in"
				class="rounded-md bg-pink-600 px-12 py-5 text-center text-2xl font-bold uppercase text-white"
				>Check In</a
			>
			<a
				href="/food-diary"
				class="rounded-md bg-orange-600 px-12 py-5 text-center text-2xl font-bold uppercase text-white"
				>Food Diary</a
			>
			<a
				href="/results"
				class="rounded-md bg-sky-600 px-12 py-5 text-center text-2xl font-bold uppercase text-white"
				>Results</a
			>
		</div>
	</main>
</Layout>
