---
interface Props {
	label: string
	data: string
}

const { label, data } = Astro.props

const severityColor = (severity: string) => {
	switch (true) {
		case severity === 'no':
			return 'bg-green-200 text-green-800'
		case severity === 'mild':
			return 'bg-yellow-200 text-yellow-800'
		case severity === 'moderate':
			return 'bg-orange-200 text-orange-800'
		case severity === 'severe':
			return 'bg-red-200 text-red-800'
		default:
			return null
	}
}
---

<li class="flex items-center justify-between">
	<span>{label}:</span>
	<span class={`${severityColor(data)} rounded-full px-2 py-1 text-sm font-bold capitalize`}>
		{data}
	</span>
</li>
